set $base00 #131020;
set $base01 #ebbcba;
set $base02 #00E676;
set $base03 #f6c177;
set $base04 #31748f;
set $base05 #eb6f92;
set $base06 #9ccfd8;
set $base07 #e0def4;
set $base08 #131020;
set $base09 #ebbcba;
set $base0A #00E676;
set $base0B #f6c177;
set $base0C #31748f;
set $base0D #eb6f92;
set $base0E #9ccfd8;
set $base0F #e0def4;
